<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711452478059-n8u8epfvdbmiqjv1gb6n6dsjm2s2retr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711452478059-n8u8epfvdbmiqjv1gb6n6dsjm2s2retr</string>
	<key>API_KEY</key>
	<string>AIzaSyCCFTO8AkJL7k841esNTEAhpYJWZ2Bc034</string>
	<key>GCM_SENDER_ID</key>
	<string>711452478059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jocelyn-Wang.TrashMaster2</string>
	<key>PROJECT_ID</key>
	<string>trash-master-b5f78</string>
	<key>STORAGE_BUCKET</key>
	<string>trash-master-b5f78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711452478059:ios:5bc952fce38f999cafff2e</string>
	<key>DATABASE_URL</key>
	<string>https://trash-master-b5f78.firebaseio.com</string>
</dict>
</plist>